.gridion {
  position: relative;
  display: block;
  background-color: #222;
}
.gridion__cell {
  position: absolute;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  background-color: #cc3;
  border: 2px solid #bb1;
}
.gridion__cell.is-scaling {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}
.gridion__cell.is-sizing {
  -webkit-transition: height 0.35s, width 0.35s;
  transition: height 0.35s, width 0.35s;
}
.gridion__cell.is-fading {
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.gridion__cell.is-fade {
  opacity: 0;
}
