html
	font-size:10px;
	font-family:arial;
body
	background:#333;
	color:#fff;
	font-size:1.4rem;
	overflow-y:scroll;
	max-height:100vh;
*
	box-sizing:border-box;
	
//makeup	
.gridion
	&__cell
		img
			width:100%;
			height:100%;