<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% for (var key in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet">
    <% } %>
</head>
<body>

 <div class="container">

 </div>
<table></table>

<% for (let key in htmlWebpackPlugin.files.js) { %>
    <% if(htmlWebpackPlugin.files.js[key].indexOf('index.js')===-1){ %>
    <script src="<%= htmlWebpackPlugin.files.js[key] %>"></script>
    <% } %>
<% } %>
<script src="index.js"></script>
</body>
</html>