html
	font-size:10px;
	font-family:arial;
body
	background:#333;
	color:#fff;
	font-size:1.4rem;
	overflow-y:scroll;
*
	box-sizing:border-box;

//makeup	
.gridion
	background-color:#222;
	&__cell
		background-color:#cc3;
		border:2px solid #bb1;